body{
    margin: 0;
    font-family: 'Times New Roman';
    background-color: white;
}

.container{
    width: 350px;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px;
    text-align: center; 

}

.title{
    margin: 20px;
}

.form{
    text-align: left;
}

.label{
    display: block;
    margin-top: 10px;
}
.input{
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}

.btn{
    display: block;
    width: 100%;
    margin: 20px auto;
    padding : 10px; 
    background-color: rgb(152, 44, 44);
    color: white;
    text-align : center;
    border-radius: 5px;
}

.text{
    margin-top: 10px;
}
.link{
    color: rgb(152, 44, 44);
    text-decoration: none;
}